
    <footer class="c-footer">
        
        <a href="index.html" class="o-logo">
            <img src=<%= require("./img/assets/logo-ag.svg") %> alt="Angelys Group" width="182" height="36">
        </a>
        
        <p class="copyrights">Copyrights © 2020 Angelys Group Tous droits réservés.</p>
        
        <% include social %>
        
    </footer>
