
        <div class="c-header">
            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/header.jpg") %> alt="" width="1126" height="680">
        </div>
