
        <div class="c-moreinfo">
            <div class="o-section">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h3>Vous desirez d’avantage de d’informations?</h3>
                            <h6>Opération, investissement, projet...</h6>
                            
                            <p>
                                <a href="#" class="o-btn o-btn--minor">Contactez-nous</a>
                            </p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="c-moreinfo__item">
                            <i class="icon-handshake"></i>
                            <h5>Pack confiance</h5>
                            <p>
                                <a href="#" class="o-btn o-btn--minor">Contactez-nous</a>
                            </p>
                        </div>
                    
                        <div class="c-moreinfo__item">
                            <i class="icon-handshake"></i>
                            <h5>Pack confiance</h5>
                            <p>
                                <a href="#" class="o-btn o-btn--minor">Contactez-nous</a>
                            </p>
                        </div>
                    
                        <div class="c-moreinfo__item">
                            <i class="icon-handshake"></i>
                            <h5>Pack confiance</h5>
                            <p>
                                <a href="#" class="o-btn o-btn--minor">Contactez-nous</a>
                            </p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
