
        <nav class="c-nav js-nav">
            <ul class="js-menu">
                <li class="menu-item-has-children">
                    <a href="#">Le groupe</a>
                    
                    <ul>
                        <li>
                            <a href="edito.html">édito</a>
                        </li>
                        
                        <li>
                            <a href="groupe.html">le groupe</a>
                        </li>
                        
                        <li>
                            <a href="equipe.html">l’équipe</a>
                        </li>
                        
                        <li>
                            <a href="pack.html">le pack confiance</a>
                        </li>
                        
                        <li>
                            <a href="canditatures.html">canditatures</a>
                        </li>
                        
                        <li>
                            <a href="inscriptions.html">inscriptions</a>
                        </li>
                    </ul>
                </li>
                
                <% include trouver-submenu %>
                
                <li>
                    <a href="nos-operations.html">Nos opérations</a>
                </li>
                
                <li>
                    <a href="actualites.html">Actualités</a>
                </li>
                
                <li class="current-menu-item">
                    <a href="presse.html">Presse</a>
                </li>
                
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                
                <li>
                    <a href="service.html">Service client</a>
                </li>
            </ul>
        </nav>
