
        <div class="c-news anim anim--up">
           <div class="o-section o-section--padding">
               
               <header class="o-header">
                    <h2 class="o-lead o-lead--2">Actus &amp; info</h2>
                    <h3 class="o-lead o-lead--5">Retrouvez toutes nos informations importantes.</h3>
                </header>
               
               
                <div class="main-carousel" id="news">                        
                    <div class="carousel-cell">
                        <a href="#" class="c-news__item">
                            <div class="picture">
                                <img src=<%= require("./img/photos/patrimonia.jpg") %> alt="" width="678" height="540" >
                            </div>
                            
                            <div class="text">
                                <article class="o-article">
                                    <h3>Patrimonia</h3>
                                    <p>18-04-2019</p>
                                    <p>Retrouvez toutes nos informations importantes.</p>
                                </article>
                            </div>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="#" class="c-news__item">
                            <div class="picture">
                                <img src=<%= require("./img/photos/patrimonia.jpg") %> alt="" width="678" height="540" >
                            </div>
                            
                            <div class="text">
                                <article class="o-article">
                                    <h3>Patrimonia</h3>
                                    <p>18-04-2019</p>
                                    <p>Retrouvez toutes nos informations importantes.</p>
                                </article>
                            </div>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="#" class="c-news__item">
                            <div class="picture">
                                <img src=<%= require("./img/photos/patrimonia.jpg") %> alt="" width="678" height="540" >
                            </div>
                            
                            <div class="text">
                                <article class="o-article">
                                    <h3>Patrimonia</h3>
                                    <p>18-04-2019</p>
                                    <p>Retrouvez toutes nos informations importantes.</p>
                                </article>
                            </div>
                        </a>
                    </div> 
                </div>
           </div>
        </div>
