
    <aide class="c-sidebar">
    
        <div class="c-sidebar__logo">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/assets/logo-ag.svg") %> alt="Angelys Group" width="214" height="42">
            </a>
        </div>

        <% include nav %>
    </aide>
