
            <nav class="c-social">
                <ul>
                    <li>
                        <a href="#" class="icon-facebook"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-instagram"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-linkedin"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-pinterest"></a>
                    </li>
                </ul>
            </nav>
