
        <div class="c-top">
            <% include social %>
            
            <div class="c-top__account">
                <a href="#">
                    <i class="icon-account"></i>
                    <span>connexion</span>
                </a>
            </div>
        </div>
