
        <div class="c-warranty anim anim--up">
            <div class="o-section o-section--paddingbottom">
                
                <article class="o-article o-article--photoright o-article--textbottom">
                    <figure>
                        <img src=<%= require("./img/photos/frederic.jpg") %> alt="" width="555" height="807">
                    
                        <figcaption>
                            <h2>La garantie de projets fiables et sécurisés </h2>
                            
                            <p>Au-delà de la déontologie propre aux professionnels de notre métier qui nous impose certains devoirs, notre structure est dotée de valeurs qui animent l'équipe et encadrent nos comportements. Savoir-faire, nous vous assurons un travail de qualité;</p>
        
                            <p>Satisfaction clients, nous faisons de vous, le centre de nos priorités en vous affectant un interlocuteur qualifié tout au long de votre projet;</p>
        
                            <p>Excellence, nous avons à cœur de vous proposer des offres d’exception restaurées avec minutie, chaque détail ayant été pensé en vue d’atteindre la perfection;</p>
        
                            <p>Pérennité, l’assurance d’une restauration de qualité s’inscrivant sur la durée.</p>
                            
                            <p>
                                <a href="#" class="o-btn o-btn--major">Rejoignez-nous</a>
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
