.o-article {
    
    blockquote {
        @extend %clear;
        padding: 0 6%;

        p {
            text-align: center;
            line-height: 1.2em;
            font: {
                size: rem(26);
                weight: $bold;
            }
            color: $c-black-01;
            
            &:before {
                content: '« ';
            }
            
            &:after {
                content: ' »';
            }
        }
    }
    
    h2, h3 {
        @extend %lead--2;
        margin-bottom: 1em;
    }
    
    h4 {
        @extend %lead--4;
    }
    
    h5 {
        margin-bottom: 1.5em;
        margin-top: 2.5em;
        font: {
            size: rem(16);
            weight: $bold;
        }
        color: $c-black-02;
    }
    
    h6 {
        @extend %lead--6;
        margin-bottom: 1em;
    }

    p, li {
        margin-bottom: 1.8em;
        line-height: 2em;
        color: $c-black-02;
    }
    
    ul {
        display: table;
        list-style-position: inside;
        padding: 30px 0 0 30px;
        
        li {
            @extend %rel;
            padding-left: 20px;

            &:before {
                @extend %abs-pseudo;
                left: 0; top: 12px;
                width: 9px; height: 1px;
                background-color: $c-black-01;
            }
            
            .ie {
                margin-left: 20px;
                text-indent: -18px;
            }
            
        }
    }
    
    &--big {
        p {
            font-size: rem(14);
        }
    }
    
    &--photoleft,
    &--photoright,
    &--textbottom {
        figure {
            @extend %flex;
            @extend %flex-end;
            
            figcaption {
                padding-bottom: 30px;
            }
        }
    }
    
    &--photoleft {
        img {
            margin-right: 80px;
        }
    }
    
    &--photoright {
        figure {
            flex-direction: row-reverse;
        }
        
        img {
            margin-left: 80px;
        }
    }

    .o-cols {
        @extend %flex-wrap;
        
        aside {
            width: 50%;
            margin-bottom: 50px;
            padding-right: 20%;
        }
    }
    
    .o-video {
        margin-bottom: 100px;
    }
}