.o-header {
    margin-bottom: 40px;
    text-align: center;
    
    &--extramargin {
        margin-bottom: 60px;
    }
   
    .o-lead {
        &--2 {
            margin-bottom: .3em;
            text-transform: uppercase;
            font-weight: $bold;
        }
        
        &--5 {
            opacity: .8;
        }
    }
}
