.c-moreinfo {
    
    .o-article {
        
        h3 {
            margin-bottom: .6em;
        }
        
        h6 {
            margin-bottom: 2em;
        }
    }

    .o-cols {
        &__item {
            &:first-of-type {
                width: 420px;
            }
            
            &:last-of-type {
                @extend %flex;
            }
        }
    }
    
    .o-iconbox {
        &__item {
            width: 210px;
        }
    }
    
    .o-section {
        padding: {
            top: 20px;
            bottom: 50px;
        }
    }
}