.c-nav {
    padding-top: 45px;
    padding-left: 20px;

    & > ul {
        margin: 0 -20px;
        //padding: 0 20px;
    
        & > li {
            
            & > a {
                text-transform: uppercase;
            }
            
            &.menu-item-has-hover-children {

                & > ul {
                    & > li {
                        &:hover {
                            
                            
                            cursor: pointer;
                        
                            & > a {
                                .desktop & {
                                    color: $c-primary;
                                }
                            }
                                                        
                            .c-nav__level3 {
                                .desktop & {
                                    opacity: 1;
                                    pointer-events: auto;
                                    transform: scale(1) translateY(0);
                                }
                                
                                //display: block;
                            }

                        }
                    }
                }
            }
            
            // Submenu
            
            & > ul {
                display: none;
                padding: 10px 0 20px 20px;
                
                & > li {
                    @extend %anim;
                    @extend %rel;
                    padding-right: 20px;
                    transform: translate3d(5px, 0, 0);
                    opacity: 0;
                                                          
                    &:nth-child(2) {
                        transition-delay: 50ms;
                    }
                                   
                    &:nth-child(3) {
                        transition-delay: 150ms;
                    }
                    
                    &:nth-child(4) {
                        transition-delay: 200ms;
                    }
                    
                    &:nth-child(5) {
                        transition-delay: 250ms;
                    }
                    
                    &:nth-child(6) {
                        transition-delay: 300ms;
                    }
                    
                    &:nth-child(7) {
                        transition-delay: 350ms;
                    }
                    
                    &:nth-child(8) {
                        transition-delay: 400ms;
                    }
                    
                    &:nth-child(9) {
                        transition-delay: 450ms;
                    }
                    
                    &:nth-child(10) {
                        transition-delay: 500ms;
                    }
                    
                    & > a {
                        letter-spacing: 1px;

                        &:before {
                            content: '_ ';
                        }
                    }
                    
                    
                    
                    
                    
                }
            }
            
            
             &.is-active {
                
                & > ul {
                    display: block;
                }
            }
            
            &.is-visible {
                & > ul {
                    & > li {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
        
        li {
            letter-spacing: 1.5px;
            padding: 3px 0;
        }
        
        .current-menu-item {
            & > a {
                font: {
                    style: italic;
                    weight: $bold;
                }
            }
            
            & > ul {
                display: block;
                
                & > li {
                    opacity: 1;
                }
            }
        }
    }
    
    a {
        &:hover {
            .desktop & {
                color: $c-primary;
            }
        }
    }
    
    &__level3 {
        @extend %abs;
        //display: none;
        left: calc(100% - 5px); top: 0;
        background-color: white;
        width: 390px;
        box-shadow: 0 0 26px rgba(black, .16);
        padding: 40px 40px 60px 40px;
        text-transform: uppercase;
        
        .desktop & {
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            transform-origin: 50% 0;
            transform: scale(0.75) translateX(-121px);
            transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        }
        
        .mobile & {
            display: none;
        }
        
        h3 {
            @extend %lead--2;
            margin-bottom: 1.5em;
            letter-spacing: normal;
        }

        & > ul {
            @extend %flex;
            @extend %flex-wrap;
            margin: 0 - 20px;

            & > li {
                width: 50%;
                padding: 0 20px;
                
                & > a {
                    display: block;
                    padding: 5px 0;
                    letter-spacing: normal;
                    font-size: rem(9);
                    color: $c-gray-01;
                    
                    &:hover {
                        .desktop & {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
    }
}