.c-news {
    &__item {
        @extend %flex;
        
        width: 100%;
        
        .text {
            @extend %flex;
            @extend %flex-end;
            flex: 1;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
        }
        
        article {
            
            padding: 0 0 70px 40px;
            
            h3 {
                margin-bottom: .5em;
            }
            
            p {
                margin-bottom: .5em;
            }
        }
    }
    
    .carousel-cell {
        width: 100%;
    }
    
    .flickity-page-dots {
        @extend %abs;
        right: 20px;
        bottom: 40px;
    }
}