.c-stats {
    
    .o-iconbox {
        @extend %flex;
        @extend %flex-x;

        &__item {
            width: 150px;
            padding: {
                left: 5px;
                right: 5px;
            }
        }
    }
}