.c-warranty {
    figure {
        @extend %flex;
        @extend %flex-end;
        flex-direction: row-reverse;
        
        figcaption {
            padding-bottom: 30px;
        }
        
        img {
            margin: 0 0 0 80px;
        }
    }
}