$c-black-01:   black;
$c-black-02:   #3D3D3D;

$c-brown-01:   #A88A40;

$c-gray-01:    #646464;
$c-gray-02:    #A8A8A8;
$c-gray-03:    #707070;

$c-primary: $c-brown-01;

:root {
  --primary-color: #{$c-brown-01};
}
