<% include ./src/includes/head %>
<body>

    <% include ./src/includes/sidebar-canditatures %>
    <% include ./src/includes/top %>
    
    <main class="o-container">
        
        <div class="o-section o-section--padding">

            <header class="o-header o-header--extramargin">
                <h1 class="o-lead o-lead--2">Recrutement</h1>
            </header>
                
            <div class="c-recruitment">
                <div class="o-cols">
                    <div class="o-cols__item">
                        
                        <article class="o-article">
                            <h3>Infographiste</h3>
                            <h6>Crée le 27-12-2018 à 15:30:50</h6>
                            
                            <h4>Vous désirez postuler?</h4>
                            <h4>Remplissez dûment le formulaire ci-dessous.</h4>
                        </article>
                        
                    </div>
                    
                    <div class="o-cols__item">
                        <form action="#" class="c-recruitform">
                            <div class="form-row">
                                <div class="form-group">
                                    <label class="form-label">Num</label>
                                    <input type="text" class="form-field" placeholder="votre nom">
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">prenom</label>
                                    <input type="text" class="form-field" placeholder="votre prenom">
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <label class="form-label">Num</label>
                                    <input type="text" class="form-field" placeholder="votre nom">
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">prenom</label>
                                    <input type="text" class="form-field" placeholder="votre nom">
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <label class="form-label">Message</label>
                                    <textarea class="form-field" placeholder="votre nom"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-row form-row--submit">
                                <div class="form-group">
                                    <button type="submit" class="o-btn o-btn--major">Envoyer votre demande</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    
    <% include ./src/includes/footer %>
    
</body>
</html>


