<% include ./src/includes/head %>
<body>

    <% include ./src/includes/sidebar-edito %>
    <% include ./src/includes/top %>
    
    <main class="o-container">
        
        <div class="o-section o-section--padding">
            <div class="o-article">

                <img src=<%= require("./img/photos/frederic.jpg") %> alt="" width="434" class="alignleft">
                
                <h3>Edito</h3>
                
                <p>Le mot du Président-Directeur Général.</p>
                
                <p>Angelys Group est une structure familiale originaire des Pyrénées-Orientales créée en 2001. Au fil des années nous nous sommes développés grâce à une expertise et un savoir-faire accru dans le domaine de la restauration d’immeubles anciens. Sur la base de projets toujours plus sélectifs et raffinés, notre mission consiste à redonner allure et caractère à ces bâtisses tout en y apportant une touche plus moderne.</p>

                <p>La confiance de nos partenaires et l’implication de l’ensemble de nos collaborateurs constituent nos principales clés de succès. Notre réussite vient aussi de l'application au quotidien de nos valeurs fortes couplées à notre engagement envers le développement durable.</p>

                <p>La force et la pertinence de notre stratégie repose sur un juste équilibre entre objectifs, enjeux humains et sociétaux axés sur :</p>
                
                <ul>
                    <li>Un excellent service en matière de restauration immobilière;</li>
                    
                    <li>Des opérations d’exception variées et des avantages fiscaux multiples : Malraux, Monument historique, Déficit foncier, Pinel ancien etc;</li>
                    
                    <li>En matière sociétale, nous sommes convaincus que le niveau d’expertise de nos collaborateurs et partenaires constitue un pilier fondamental de notre structure. Nous avons investi dans ce sens à travers le recrutement d’experts toujours plus qualifiés et de partenaires triés sur le volet.</li>
                </ul>
                
                <blockquote>
                    <p>Angelys Group entend bien affirmer sa personnalité et son rayonnement
sur la scène nationale en tant qu’acteur incontournable en matière
de restauration d’immeubles anciens.</p>
                </blockquote>
                
                <img src=<%= require("./img/photos/office.jpg") %> alt="office" width="716" height="445" class="alignright">
                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                
                <p>Ces trois dernières années ont été sous le signe de l’expansion, de la consolidation de nos acquis et de la performance dans le but de renforcer notre position d’acteur majeur de notre secteur. Nous disposons encore de parts de marché à conquérir. Cette réserve de développement et de création de valeur contribuera à alimenter la poursuite de notre croissance.</p>

<h4><strong>Frédéric BATLLE,<br>
Président-Directeur Général</strong></h4>
            </div>
        </div>
        
    </main>
    
    <% include ./src/includes/footer %>
    
</body>
</html>


