<% include ./src/includes/head %>
<body>

    <% include ./src/includes/sidebar %>
    <% include ./src/includes/top %>
    
    <main class="o-container">
        
        <% include ./src/includes/header %>
        <% include ./src/includes/favslider %>
        <% include ./src/includes/warranty %>
        <% include ./src/includes/news %>
        <% include ./src/includes/moreinfo %>
    </main>
    

    <footer class="c-footer">
        
        <a href="index.html" class="o-logo">
            <img src=<%= require("./img/assets/logo-ag.png") %> alt="Angelys Group" width="182" height="36">
        </a>
        
        <p class="copyrights">Copyrights © 2020 Angelys Group Tous droits réservés.</p>
        
        <% include ./src/includes/social %>
        
    </footer>

</body>
</html>


