<% include ./src/includes/head %>
<body>

    <% include ./src/includes/sidebar-press %>
    <% include ./src/includes/top %>
    
    <main class="o-container">
        
        <div class="o-section o-section--padding">

            <header class="o-header o-header--extramargin">
                <h1 class="o-lead o-lead--2">NOTRE CONTACT PRESSE:</h1>
            </header>
                
            <div class="c-presse">
                <div class="o-cols">
                    <div class="o-cols__item">
                        
                        <img src=<%= require("./img/photos/presse.png") %> alt="presse" width="448" height="430">
                        
                    </div>
                    
                    <div class="o-cols__item">
                        
                        <article>
                            
                            <h3>Caroline ELBAZ-ZENATTI</h3>

                            <p>+33 (0) 6 63 73 79 42</p>
                            
                            <p>
                                <a href="mailto:c.elbazzenatti@cez-presse.fr">c.elbazzenatti@cez-presse.fr</a>
                            </p>
                            
                            <p>&nbsp;</p>
                            
                            <p>
                                <img src=<%= require("./img/photos/card-caroline.png") %> alt="" width="289" height="136">
                            </p>
                            
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    
    <% include ./src/includes/footer %>
    
</body>
</html>


